.container {
  width: 100vw;
  height: 100vh;

  background-color: var(--background);
  
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo-container img {
  width: 120px;
  height: 120px;
}

.logo-container h1 {
  font-size: 3.2rem;
  font-weight: 600;
  color: var(--white)
}

.logo-container h1 span {
  color: var(--orange)
}
