.container {
  width: 100vw;
  height: 100vh;

  background-color: var(--background);
  
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo-container img {
  width: 120px;
  height: 120px;
}

.logo-container h1 {
  font-size: 32px;
  font-weight: 600;
  color: var(--white)
}

.logo-container h1 span {
  color: var(--orange)
}

.search-container {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.form-container {
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 32px;
}

.form-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: none;
}

.form-content label {
  font-size: 16px;
  color: var(--white);
  font-weight: 600;
}

.form-content input {
  font-size: 15px;
  color: var(--white);
  font-weight: 600;
  padding: 19px 23px;
  border-radius: 10px;

  background: var(--input-background);
  border: 1.4px solid var(--input-stroke);
}

.form-content input::placeholder {
  color: var(--placeholder);
}

.form-content input:focus {
  border-color: var(--orange);
}

.form-container button {
  text-align: center;
  font-weight: 500;

  background: var(--orange);
  color: var(--background);

  padding: 19px 31px;
  border-radius: 10px;
  border: transparent;
}